body {
  background-image: url('https://collectionprints.com/cdn/shop/t/11/assets/billow-ii_3_2.jpg?v=146812297296870755421655921245');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}
