#intro-page-container {
  font-family: 'DM Serif Display', serif;
  margin: 5rem 0;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#intro-page-container div:first-child {
  position: relative;
  margin-bottom: 7.5rem;
}

#intro-page-container h1 {
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 2.5rem;
}

.red-letter {
  color: #620000;
}

.cross-sword-wrapper {
  width: 100px;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
}

.cross-sword-gif {
  width: 100%;
}

#intro-page-container p {
  font-size: 0.95rem;
  margin-bottom: 2.5rem;
  font-family: 'Source Serif 4', serif;
  font-weight: 600;
  max-width: 400px;
}

.disclaimer {
  padding: 0 2.5rem;
}

#intro-page-container i {
  font-size: 0.7rem;
  font-weight: normal;
  line-height: 0.1rem;
  color: #656565;
}

#intro-page-container h2 {
  font-family: 'Source Serif 4', serif;
  font-weight: 800;
  font-size: 1rem;
}

@media screen and (width >=1025px) {
  #intro-page-container {
    margin-bottom: 12rem;
  }

  #intro-page-container h1 {
    font-size: 6rem;
    line-height: 5rem;
  }

  .cross-sword-wrapper {
    width: 200px;
  }

  #intro-page-container div:first-child {
    margin-bottom: 12rem;
  }

  #intro-page-container p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    max-width: 800px;
  }

  #intro-page-container i {
    font-size: 0.85rem;
  }

  #intro-page-container h2 {
    font-size: 2rem;
    margin-top: 5rem;
  }
}
