#army-container {
  padding: 1rem 0;
  margin: 1rem;
  font-family: 'Source Serif 4', serif;
  color: white;
  background-color: var(--blue);
  border-radius: 10px;
  border: 2px solid var(--gold);
}

.user-generals > h3 {
  background-color: var(--gold);
  padding: 0.5rem 1.5rem;
  margin-bottom: 0.5rem;
}

.user-generals .row {
  flex-wrap: wrap;
  padding: 1rem;
}

@media screen and (width >=1025px) {
  #army-container h3 {
    font-size: 1.5rem;
  }
}
