#factions-container {
  padding: 1rem;
}

#factions-container .row {
  flex-wrap: wrap;
  padding: 0;
}

.faction-group {
  margin: 2rem 0;
  padding: 1rem 0;
  background-color: var(--blue);
  border: 3px solid var(--gold);
  border-radius: 10px;
  color: white;
}

.faction-group h2 {
  margin-bottom: 0.5rem;
  padding: 0.7rem;
  background-color: var(--gold);
  font-size: 1.5rem;
}

.fontawesome-icon-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
  padding: 0 1rem;
  cursor: pointer;
}

.faction-card {
  flex-basis: 33%;
  max-width: 180px;
  margin-bottom: 1rem;
  cursor: pointer;
  text-decoration: none;
}

.faction-card h3 {
  text-align: center;
  font-size: 1.1rem;
  color: white;
}

.icon-wrapper img {
  width: 100%;
  padding: 0.7rem;
}

@media screen and (width >=768px) {
  .faction-group h2 {
    font-size: 1.6rem;
  }

  .faction-card h3 {
    font-size: 1.2rem;
  }
}

@media screen and (width >= 1025px) {
  .faction-group h2 {
    font-size: 1.7rem;
  }

  .faction-card h3 {
    font-size: 1.3rem;
  }
}
