.faction-units svg {
  top: 1px;
  right: 1px;
}

.general svg {
  top: 10px;
  right: 10px;
}

#favorite-button-container svg {
  position: absolute;
  cursor: pointer;
  transition: color 0.3s ease;

  &:hover {
    color: yellow;
  }
}

#elite-soldiers-container #favorite-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
