.general-img-wrapper {
  width: 120px;
  margin: 0 auto;
}

.general-img-wrapper img {
  width: 100%;
  border-radius: 50%;
  border: 1px solid black;
  margin-bottom: 1rem;
}

.general h3 {
  text-align: center;
}

.general {
  position: relative;
  flex-basis: 50%;
}
