.faction-units h3 {
  background-color: var(--gold);
  padding: 0.5rem 1.5rem;
}

.faction-units .row {
  padding: 0 1rem;
  margin: 0.4rem 0;
  flex-wrap: wrap;
}

.faction-units .unit-img-wrapper {
  position: relative;
  border: 1px solid black;
  width: 40px;
}

.faction-units .unit-img-wrapper img {
  width: 100%;
}

.faction-units img:hover + .hide{
  display: block;
}

.hide{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: .5rem;
  max-width: 600px;
}

.info-icon{
  position: absolute;
  top: 0;
  left: 4px;
  pointer-events: none;
}

@media screen and (width >=768px) {
  .faction-units .unit-img-wrapper {
    width: 50px;
  }
}

@media screen and (width >=1025px) {
  .faction-units .unit-img-wrapper {
    width: 60px;
  }
}
